/* Universal */
body{
    background-color: #FFF2D8;
    color: #113946;
}

a{
    text-decoration: none;
    color: #113946;
}

#Skill,#Projects,#Contact{
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

h2{
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 45px;
    text-underline-offset:  1.5rem;
    text-decoration: underline solid #113946;
}

h3{
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

header{
    width: 100%;
    position: fixed;
        top: 0px;
        left: 0px;
    background-color: #fff2d8ad;
}
/*  Header */
.container{
    height: 10vh;
    display: grid;
    grid-template-columns: 6fr  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.nav-item{
    font-weight: 700;
    font-size: 1rem;
}

.nav-item a:hover{
    color: #BCA37F;
}

.title{
    margin-left: 50px;
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

/* Hero */
.container-hero{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 0.5fr 5fr;
    grid-template-rows: 13vh 1fr 1fr 1fr 1fr 0.5fr;
    
}
.p{ 
    grid-area: 2/2/7/6;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
}
.profile{
    grid-area: 1 / 2 / 5 / 5;
}

.img-deco{
    grid-area: 2 / 1 / 6 / 4;
    background-color: #EAD7BB;
    z-index: -1;
}
.profile>img{
    width: 100%;
    box-shadow: 0px 0px 20px #EAD7BB;
}

.content{
    grid-area: 3 / 7 / 6 / 8;
    font-size: 25px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 60px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 20px;
}

.button {
    font-size: 20px;
    padding: 25px;
    border-radius: 50rem;
    background-color: transparent;
    border: 2px solid #113946;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.button:hover{
    background-color: #113946;
    color: #EAD7BB;
}

/* Skills */
.container-skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skill>img{
    width: 10rem;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #EAD7BB;
}

.skill>img:hover{
    box-shadow: 0px 0px 30px #BCA37F;
}

/*Projects*/
.container-project{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0fr 15rem 15rem 15rem 0fr;
    margin-top: 4rem;
    gap:10rem;
    grid-row-gap: 4rem
    
}

.card{
    width: 15rem;
}

.card1
{
    grid-area: 1 / 2 / 2 / 3;
}

.card2{
    grid-area: 1 / 3 / 2 / 4;
}

.card3{
    grid-area: 1/ 4 / 2 / 5;
}
.card4{
    grid-area: 2 / 2 / 3 / 3;
}

.card5{
    grid-area: 2/3/3/4;
}

.card6{
    grid-area: 2/4/3/5;
}

.card7{
    grid-area: 3/2/4/3;
}

.card8{
    grid-area: 3/3/4/4;
}

.card9{
    grid-area: 3/4/4/5;
}
.card>img{
    width: 100%;
}

/*Contact*/
.container-contact{
    display: flex;
    justify-content: space-around;
    width: 100vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.container-contact>a:hover{
    color: #EAD7BB;
}

hr{
    border-radius: 50%;
    border: 2px solid #113946;
}
footer{
    height: 10vh;
}

footer>div{
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    padding: 3vh;
    font-optical-sizing: auto;
    font-size: 20px;
}

@media (max-width: 992px) {
    /* header */
    .container{
        height: 20vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 5rem 1fr;
        width: auto;
    }

    .title{
        grid-column: span 4;
        text-align: center;
        font-size: 40px;
    }

    .nav-item{
        text-align: center;
    }

    /* hero */
    .container-hero{
        display: block;
        margin-top: 23vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }


    .container-skill{
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .p, .content{
        padding-left: 150px;
        padding-right: 150px;
        font-size: 12.5px;
    }

    h1{
        font-size: 40px;
    }

    .button{
        font-size: 10px;
        padding: 15px;
    }

    h2{
        font-size: 22.5px;
    }

    .container-project{
        display: flex;
        margin-top: 1rem;
        gap:2rem;
        align-items: center;
        flex-direction: column;
    }

    h3{
        font-size: 15px;
        text-align: center;
    }

    .container-contact{
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    #Skill img{
        width: 90px;
    }
}

@media (max-width: 576px) {
    /* header */
    .container{
        height: 15vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 5rem 1fr;
    }

    .title{
        grid-column: span 4;
        text-align: center;
        font-size: 30px;
    }

    .nav-item{
        text-align: center;
    }

    /* hero */
    .container-hero{
        display: block;
        margin-top: 17vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }


    .container-skill{
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .p, .content{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 10px;
    }

    h1{
        font-size: 30px;
    }

    .button{
        font-size: 10px;
        padding: 15px;
    }

    h2{
        font-size: 14px;
    }

    .container-project{
        display: flex;
        margin-top: 1rem;
        gap:2rem;
        align-items: center;
        flex-direction: column;
    }

    h3{
        font-size: 10px;
        text-align: center;
    }

    .container-contact{
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    footer>div{
        font-size: 10px;
    }

    #Skill img{
        width: 80px;
    }

}
